# Assigment 1

In [ ]:

#Task 1--
a=[1,2,3,4,5,6]
b=[7,8,9,6]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [ ]:
#Task 2--

num= int(input("Enter your number: "))
if (num%2) == 0:
  print("{0} is Even".format(num))
else:
    print(" is odd".format(num))

Enter your number: 7
 is odd

In [ ]:
#Task 3--
d1 = {'S.no':[1,2,3],'Name':['Santhosh','Kalyan','David'],'Rollno':[9,8,11]}
d1

{'S.no': [1, 2, 3],
 'Name': ['Santhosh', 'Kalyan', 'David'],
 'Rollno': [9, 8, 11]}

In [ ]:
#Task 4--
def find_odd_numbers(start, end):
    for num in range(start, end + 1):
        if num % 2 != 0:
            print(num)

find_odd_numbers(1, 10)

1
3
5
7
9

In [ ]:
#Task 5--
def sum_of_num(num):
    total = 0
    for x in num:
        total = total+x
    return total

num = [23,35,56,78]
print(num)
print("Sum of numbers:", sum_of_num(num))

[23, 35, 56, 78]
Sum of numbers: 192